<footer id="gb-footer">
	<div class="container">
		
		<div class="nav-ft _chd-cl-xs-06-xsh-025-sm-025 around-xs">
			<div class="m1">
				<h4>หมวดหมู่แนะนำ</h4>
				<ul>
					<li><a href="#" title="แฟนตาซี">แฟนตาซี</a></li>
					<li><a href="#" title="กำลังภายใน">กำลังภายใน</a></li>
					<li><a href="#" title="รักโรแมนติก">รักโรแมนติก</a></li>
					<li><a href="#" title="คอมมาดื้">คอมมาดื้</a></li>
					<li><a href="#" title="พัฒนาตนเอง">พัฒนาตนเอง</a></li>
					<li><a href="#" title="ดราม่า">ดราม่า</a></li>
					<li><a href="#" title="สยองขวัญ">สยองขวัญ</a></li>
					<li><a href="#" title="ประวัติศาสตร์">ประวัติศาสตร์</a></li>
				</ul>
			</div>
			
			<div class="m2">
				<h4>เกี่ยวกับเรา</h4>
				<ul>
					<li><a href="#" title="ข้อมูลบริษัทและที่อยู่ติดต่อ">ข้อมูลบริษัทและที่อยู่ติดต่อ</a></li>
					<li><a href="#" title="ข้อตกลงการใช้บริการ">ข้อตกลงการใช้บริการ</a></li>
					<li><a href="#" title="นโยบายความเป็นส่วนตัว">นโยบายความเป็นส่วนตัว</a></li>
				</ul>
			</div>
			
			<div class="m3">
				<h4>บริการต่างๆ</h4>
				<ul>
					<li><a href="#" title="มาเป็นนักเขียนกับเรา">มาเป็นนักเขียนกับเรา</a></li>
					<li><a href="#" title="ระบบเหรียญ">ระบบเหรียญ</a></li>
					<li><a href="#" title="โปรโมชั่น">โปรโมชั่น</a></li>
				</ul>
			</div>
			
			<div class="m4">
				<h4>บริษัทในเครือ</h4>
				<ul>
					<li><a href="#" title="Siam Inter Comics">Siam Inter Comics</a></li>
					<li><a href="#" title="Siam Inter Shop">Siam Inter Shop</a></li>
					<li><a href="#" title="SMM Publishing">SMM Publishing</a></li>
					<li><a href="#" title="Smm Sport">Smm Sport</a></li>
					<li><a href="#" title="Smm Tv">Smm Tv</a></li>
					<li><a href="#" title="Smm Sprot Radio">Smm Sprot Radio</a></li>
				</ul>
			</div>
		</div>

		<div class="copyright">© บริษัท เอสเอ็มเอ็ม พลัส จำกัด. 459 ซอยลาดพร้าว 48 ถนนลาดพร้าว แขวงสามเสนนอก เขตห้วยขวาง กทม. 10310</div>
	</div>
</footer>

