<header id="gb-header" >
	<div class="gheader container">
		<h1 itemscope="itemscope" itemtype="//schema.org/Organization" class="logo"><a href="index.php">Yaakz</a><img itemprop="logo" src="assets/imgs/logo.png"></h1>
		<div class="btn-nv-m" role="navigation">
			<a href="javascript:;" title="Expand" class="b-ex">
				<span></span>
				<span></span>
				<span></span>
			</a>
		</div>
		
		<div class="fix-r">
			<div class="sw-view" role="search">
				<a class="btn" href="javascript:;" title="Search"><i class="yicon"><img src="assets/imgs/ic-search.png" height="20"></i></a>
				<ul class="form-control">
					<li class="container">
					<form id="cse-search-box" method="get" action="search.php">
						<label for="auto-search"><i class="yicon"><img src="assets/imgs/ic-search.png" height="20"></i></label>
						<input name="key-word" class="txt-box" id="auto-search" placeholder="ค้นหา ชื่อเรื่อง , ชื่อนักเขียน , ชื่อสำนักพิมพ์" type="text">
						<button type="submit" id="btn-search" class="btn fa-search"></button>
						<span class="close"></span>
					</form>
					</li>
				</ul>
				<script>
					$(document).ready(function() {
					if ($('#auto-search').val() !== '') {
						$('#cse-search-box').submit();
					}
					});
				</script>

			</div>

			<div class="show-cart">
				<a href="cart.php"><i class="yicon"><img src="assets/imgs/ic-cart.png" height="32"><span class="badge">2</span></i> ตะกร้าสินค้า</a>
			</div>

			<div class="sw-nav">
				<div class="gp-login">
					<i class="yicon"><img src="assets/imgs/ic-profile.png" height="32"></i>
					<a class="login" href="javascript:;" data-fancybox="login" data-src="#popup-login" title="เข้าสู่ระบบ" onclick="$(this).parent('.gp-login').hide(); $('#u-member').fadeIn(100);">เข้าสู่ระบบ</a>/<a class="register" href="javascript:;" data-fancybox="register" data-src="#popup-register" title="สมัครสมาชิก" onclick="$(this).parent('.gp-login').hide(); $('#u-member').fadeIn(100);">สมัครสมาชิก</a>
				</div>
				<div id="u-member" style="display: none">
					<div class="gp-user">
						<a class="avatar btn" href="javascript:;"><img src="assets/imgs/ic-profile.png" height="32"> Hello, Sarun <i class="yicon"><img src="assets/imgs/ic-angle-down.png" height="12"></i></a>
					</div>
					<div class="sub-m drop-user" style="display: none">
						<ul>
							<li class="coins">
								<span>
								<i class="yicon"><img src="assets/imgs/ic-coin.png" height="32"></i> 
								<small>จำนวนเหรียญ</small>
								<em>1,000 </em> เหรียญ
								</span>
								<a href="my-wallet.php" title="เติมเหรียญ">เติมเหรียญ</a>
							</li>
							<li><a href="my-favorite.php" title="รายการที่ชื่นชอบ"><i class="yicon"><img src="assets/imgs/my-favorite.png" height="20"></i> รายการที่ชื่นชอบ</a></li>
							<li><a href="my-shelf.php" title="ชั้นหนังสือ"><i class="yicon"><img src="assets/imgs/my-shelf.png" height="20"></i>  ชั้นหนังสือ</a></li>
							<li><a href="my-wallet.php" title="กระเป๋าเงิน"><i class="yicon"><img src="assets/imgs/my-wallet.png" height="20"></i>  กระเป๋าเงิน</a></li>
							<li class="line"><a href="profile.php" title="จัดการบัญชี"><i class="yicon"><img src="assets/imgs/my-setting.png" height="20"></i>  จัดการบัญชี</a></li>
							<!-- <li><a href="javascript:;" data-fancybox="changePW" data-src="#popup-changepassword" title="เปลี่ยนรหัสผ่าน"><i class="yicon"><img src="assets/imgs/my-wallet.png" height="20"></i>  เปลี่ยนรหัสผ่าน</a></li> -->
							<li><a href="javascript:;" onclick="$('.gp-login').fadeIn(100); $('#u-member').fadeOut(1);" title="ออกจากระบบ "><i class="yicon"><img src="assets/imgs/my-logout.png" height="20"></i>  ออกจากระบบ </a></li>
						</ul>
					</div>
				</div>

			</div>
		</div>

	</div>
	
	
	<nav id="navigation" class="main-nav" role="navigation">
			<ul id="nav-drop" class="container">
				<li class="pg home"><a href="javascript:;" title="หน้าแรก">หน้าแรก</a></li>
				<li class="pg sub"><a href="category.php" title="หนังสือ & อีบุ๊ค">หนังสือ & อีบุ๊ค <i class="sw"><img src="assets/imgs/ic-angle-down.png"></i></a>
					<ul class="d-flex center-xs">
						<li><a href="category-list.php" title="การ์ตูน">การ์ตูน</a></li>
						<li><a href="category-list.php" title="โรแมนติก">โรแมนติก</a></li>
						<li><a href="category-list.php" title="แฟนตาซี">แฟนตาซี</a></li>
						<li><a href="category-list.php" title="ผจญภัย">ผจญภัย</a></li>
						<li><a href="category-list.php" title="คอมมาดื้">คอมมาดื้</a></li>
						
						<li><a href="category-list.php" title="สยองขวัญ">สยองขวัญ</a></li>
						<li><a href="category-list.php" title="ประวัติศาสตร์">ประวัติศาสตร์</a></li>
						<li><a href="category-list.php" title="ไซไฟ">ไซไฟ</a></li>
						<li><a href="category-list.php" title="สงคราม">สงคราม</a></li>
					</ul>
				</li>
				<li class="pg sub"><a href="category.php" title="นิยายออนไลน์">นิยายออนไลน์ <i class="sw"><img src="assets/imgs/ic-angle-down.png"></i></a>
					<ul class="d-flex center-xs">
						<li><a href="category-list.php" title="การ์ตูน">การ์ตูน</a></li>
						<li><a href="category-list.php" title="โรแมนติก">โรแมนติก</a></li>
						<li><a href="category-list.php" title="แฟนตาซี">แฟนตาซี</a></li>
						<li><a href="category-list.php" title="ผจญภัย">ผจญภัย</a></li>
						<li><a href="category-list.php" title="คอมมาดื้">คอมมาดื้</a></li>
					
					</ul>
				</li>
				<li class="pg"><a href="category.php" title="แมกกาซีน">แมกกาซีน</a></li>
				<li class="pg"><a href="category.php" title="มาใหม่">มาใหม่</a></li>
				<li class="pg"><a href="category.php" title="ยอดนิยม">ยอดนิยม</a></li>
				<li class="pg"><a href="category.php" title="โปรโมชั่น">โปรโมชั่น</a></li>
				<li class="pg"><a href="category.php" title="แนะนำ">แนะนำ</a></li>
			<!---->
			</ul>
		</nav>

</header>

<div class="qk-menu">
	<ul class="d-flex container center-xs">
		<li><a href="#" title="การ์ตูน">การ์ตูน</a></li>
		<li><a href="#" title="โรแมนติก">โรแมนติก</a></li>
		<li><a href="#" title="แฟนตาซี">แฟนตาซี</a></li>
		<li><a href="#" title="ผจญภัย">ผจญภัย</a></li>
		<li><a href="#" title="คอมมาดื้">คอมมาดื้</a></li>
		
		<li><a href="#" title="สยองขวัญ">สยองขวัญ</a></li>
		<li><a href="#" title="ประวัติศาสตร์">ประวัติศาสตร์</a></li>
		<li><a href="#" title="ไซไฟ">ไซไฟ</a></li>
		<li><a href="#" title="สงคราม">สงคราม</a></li>
	</ul>
</div>
        
