<head>
<meta charset="utf-8">

<!-- Title -->
<title>Yaakz - Book Ebook online</title>
   
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8">
<meta name="keywords" content="yaakz,book,ebook,webnovel,store">
<meta name="description" content="Yaakz คือเว็บแอพพลิเคชั่นร้านค้าออนไลน์ ที่จำหน่ายหนังสือทั้งในรูปแบบ หนังสือเล่ม อีบุ๊ค และนิยายออนไลน์ พบกันเร็วๆนี้ที่นี่">
<meta name="author" content="bcs">

<link href="assets/imgs/favicon.png" rel="shortcut icon" />
<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">-->
<link href="https://fonts.googleapis.com/css?family=Kanit:200,300,400,500|Sarabun" rel="stylesheet"> 
<link href="assets/fonts/fontface.css" rel="stylesheet" type="text/css">
<link href="assets/cs/flexgrid.css" rel="stylesheet" type="text/css" />
<link href="assets/cs/slick.css" rel="stylesheet" type="text/css">
<link href="assets/cs/slick-theme.css" rel="stylesheet" type="text/css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.css" rel="stylesheet" />
<link href="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<link href="assets/cs/theme.css" rel="stylesheet" type="text/css" />

<link rel="contents" href="#toc" title="Table Of Contents" />
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>


<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->


</head>