<script type="text/javascript">
  $(document).ready(function () {
    //back to top
    $(window).scroll(function () {
      if ($(this).scrollTop() > 100) {
        $("#back2top").css({ bottom: "10px" });
      } else {
        $("#back2top").css({ bottom: "-70px" });
      }
    });
    $("#back2top").click(function () {
      $("html, body").animate({ scrollTop: "0px" }, 800);
      return false;
    });
    //expand nav
    $(".btn-nv-m .b-ex").click(function () {
      $(this).toggleClass("active");
      $("body").toggleClass("expand");
    });
    $(".sw-nav a.btn").click(function () {
      $(this).toggleClass("active");
      $(this)
        .parent()
        .next(".drop-user") /*.slideToggle(300)*/
        .toggleClass("sw");
    });
    $(".main-nav .sub .sw").click(function () {
      $(this).toggleClass("active");
      $(this).parents(".sub").toggleClass("show");
    });

    /*toggle searchbar*/
    $(".sw-view .btn").click(function () {
      if ($(this).hasClass("clicked")) {
        //alert('show modal');
      } else {
        $(".sw-view").addClass("show");
        $("#auto-search").focus();
        /*$('.sw-view a.btn').click(function(){
					$(this).toggleClass('active');
					$(this).children('.form-control').slideToggle(300).toggleClass('sw');
			  });*/
      }
    });
    /* $(document).click(function(e){
			  if(!$('.sw-view,.load').is(e.target) && $('.sw-view,.form-control').has(e.target).length === 0 && !$('#btn-search').is(e.target) && $('.sw-view .close').is(e.target)){// if div is not target nor its descendant
				$('.sw-view').removeClass('show');
			  }
			});*/
    $(".sw-view .close").click(function () {
      $(".sw-view").removeClass("show");
    });
    //scroll to fix
    if ($("#gb-header").length > 0) {
      var top17 =
        $("#gb-header").offset().top +
        parseFloat($("#gb-header").innerHeight());
      $(window).scroll(function (event) {
        var y17 = $(this).scrollTop();
        if (y17 >= top17) {
          $("#gb-header").addClass("fixed");
        } else {
          $("#gb-header").removeClass("fixed");
        }
      });
    }
    //hidden icon table
    $(".table-drag").click(function () {
      $(this).addClass("off");
    });
    $(".table-drag").scroll(function () {
      $(this).addClass("off");
    });
    /*toggle accordion */
    $(".accordion .acc-h").click(function () {
      if ($(this).hasClass("active")) {
        $(this).parents(".bx").removeClass("expand");
        $(this).removeClass("active").next().removeClass("active").slideUp(200);
      } else {
        $(this).parents(".accordion").children(".bx").removeClass("expand");
        $(this)
          .parents(".accordion")
          .children(".bx")
          .children(".acc-h")
          .removeClass("active");
        $(this)
          .parents(".accordion")
          .children(".bx")
          .children(".pane")
          .removeClass("active")
          .slideUp(200);
        $(this).parents(".bx").addClass("expand");
        $(this)
          .toggleClass("active")
          .next()
          .toggleClass("active")
          .slideToggle(200);
      }
    });
  });
</script>

<script src="//cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
<script>
  $(document).ready(function () {
    $("[data-fancybox='modal']").fancybox({
      toolbar: false,
      margin: [1, 0],
      infobar: false,
      protect: false,
      arrows: false,
      touch: false,
    });

    $('[data-fancybox="image"]').fancybox({
      arrows: false,
    });

    //select2
    $(".select-js").select2({
      placeholder: "Select",
      minimumResultsForSearch: -1,
      dropdownAutoWidth: true,
      width: "100%",
    });
    $(".select-srh").select2({
      minimumResultsForSearch: 0,
      placeholder: "Select",
      //allowClear: true,
      //tags: true,
      dropdownAutoWidth: true,
      width: "100%",
    });
  });
  /*$(window).load(function() {
  $('.big-slider').flexslider({
    animation: "slide",
	smoothHeight: true,
  });
});*/
</script>

<script type="text/javascript" src="assets/js/wow.min.js"></script>
<script>
  // WOW Animation
  new WOW().init();
</script>
